:root{
    --font:'learn';
    --palt1:#FA7F7F;
    --palt2:#F8FBA2;
    --palt3:#A0E4B0;
    --palt4:#C2FCD9;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    box-sizing: border-box;
    border: 0;
    transition: all 0.3s ease;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
header{
    background-color: var(--palt1);
}
.main-menu{
    height: 100%;
}
.main-menu ul{
    text-align: center;
}
.main-menu ul li{
    display: inline-block;
    position: relative;
    margin-left: 12px;
}
.main-menu ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
}
.main-menu ul li ul{
    position: absolute;
    background-color: var(--palt1);
    border-radius: 10px;
    width: 130px;
    text-align: right;
    top: 110%;
    padding-right: 7px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.main-menu ul li ul li{
    display: block;
    width: 100%;
}
.main-menu ul li:hover>ul{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}
.main-menu ul li ul li ul{
    right: 140%;
    top: 0;
}
header .row .col-md-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login{
    background-color: #A0E4B0;
    border-radius: 1px;
    padding: 5px;
    color: white;
}
.btn-login:hover{
    border-radius: 5px;
}
.login{
    text-align: center;
    width: 25%;
}
.center{
    display: flex;
    justify-content: center;
}
.login #id_password1{
    border: 2px solid #ddd;
}
.login #id_password2{
    border: 2px solid #ddd;
}
.btn-signup{
    display: inline-block;
    width: 65%;
}
.helptext{
    display: none;
}
.login ul{
    display: none;
}
#id_password{
    margin-bottom: 10px;
    width: 60%;
    border: 2px solid #ddd;
}
#id_username{
    width: 58%;
    border: 2px solid #ddd;
}
.panel ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 130px;
    background-color: var(--palt1);
    border-radius: 10px;
    padding: 20px;
    top: 150%;
}
.panel ul li a{
    color: #fff;
}
.panel{
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 18px;
}
.panel:hover ul{
    visibility: visible;
    opacity: 1;
}
.new-post form{
    margin-top: 20px;
    margin-right: 20px;
}
.new-post input{
    border: #ddd 5px solid;
    width: 50%;
    margin-bottom: 10px;
}
.new-post div{
    margin-bottom: 20px;
}
.new-post textarea{
    border: #ddd 5px solid;
    width: 50%;
}
.new-post select{
    border: #ddd 5px solid;
    width: 49%;
}
.btn-publish{
    background-color: #C2FCD9;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 15px;
    color: #fff;
}
.page-content{
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
}
.single_content img{
    display: table;
    margin: 15px auto;
    border-radius: 20px;
}
.single_content .meta{
    font-size: 12px;
    color: #777;
    padding: 15px;
    text-align: center;
}
.single_content .meta span{
    margin-left: 15px;
}
.single_content .meta span a{
    color: #333;
}
.single_content h1{
    text-align: center;
    line-height: 2;
    color: #515151;
    font-size: 18px !important;
    margin-top: 0;
    margin-bottom: 0;
}
.single_content .p_text p{
    line-height: 2;
    font-size: 15px;
    color: #777;
    margin: 15px 0;
}
.single_content .post_tags{
    margin: 15px 0;
    padding: 10px;
    border:1px solid #eee;
    border-radius: 20px;
}
.single_content .post_tags a{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    background-color: #9be15d;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 4px;
}
.index-blog .desc .meta{
    padding: 15px;
    border-top: 1px solid #eee;
    font-size: 12px;
}
.index-blog .desc .mata span{
    margin-left: 15px;
}
.btn-site{
    display: inline-block;
    padding: 8px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #9be15d;
    background-image: linear-gradient(269deg,#00d9a6 0%,#9be15d 100%);
    transition: all 0.3s ease;
}
.btn-site:hover{
    opacity: 0.8;
    transition: all 0.3s ease;
}