{% extends 'base.html' %}
{% load static %}
{% block title %}وبلاگ{% endblock %}
{% block content %}
<section class="posts">
    <div class="row">
        {% for post in post_list %}
            <article class="col-md-3">
                <img class="post-img" src="{{ post.photo.url }}" alt="{{ post.title }}">
                <h2 class="title">{{ post.title }}</h2>
                <div class="meta">
                    <span><i class="fa fa-calendar-o"></i>{{ post.date }}</span>
                    <span><i class="fa fa-edit"></i>{{ post.author }}</span>
                </div>
                <p class="desc">{{ post.abstract }}</p>
                <a href="{% url 'single' post.pk %}" class="btn-site">ادامه</a>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}