{% extends 'base.html' %}
{% block title %}مقاله جدید{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="">خانه</a></li>
<i class="fa fa-angle-right" aria-hidden="true"></i>
<li class="breadcrumb-item active"><a href="">مقاله جدید</a></li>
{% endblock %}
{% block content %}
<div class="new-post">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {% if field.label_tag == '<label for="id_abstract">Abstract:</label>' %}
                    <label for="id_abstract">خلاصه</label>
                {% elif field.label_tag == '<label for="id_body">Body:</label>' %}
                    <label for="id_body">محتوا</label>
                {% elif field.label_tag == '<label for="id_author">Author:</label>' %}
                    <label for="id_author">نویسنده</label>
                {% elif field.label_tag == '<label for="id_date">Date:</label>' %}
                    <label for="id_date">تاریخ</label>
                {% elif field.label_tag == '<label for="id_photo">Photo:</label>' %}
                    <label for="id_photo">عکس</label>
                {% endif %}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn-publish">انتشار</button>
    </form>
</div>
{% endblock %}