{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="">خانه</a></li>
<i class="fa fa-angle-right" aria-hidden="true"></i>
<li class="breadcrumb-item active"><a href="">{{ post.title }}</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-content single_content">
            <div class="row">
                <div class="col-md-9">
                    <div class="content_bx">
                        <img class="post-img" src="{{ post.photo.url }}" alt="{{ post.title }}">
                        <div class="meta">
                            <span><i class="fa fa-calendar-o"></i>{{ post.date }}</span>
                            <span><i class="fa fa-edit"></i>{{ post.author }}</span>
                        </div>
                        <h1 class="title">{{ post.title }}</h1>
                        <div class="p_text">
                            <p>
                                {{ post.body }}
                            </p>
                        </div>
                        {% if user.username == post.author.username %}
                            <div class="post_actions"> 
                                <a href="{% url 'update_post' post.pk %}" class="post-action"><i class="fa fa-edit"></i>ویرایش</a>
                                <a href="{% url 'delete_post' post.pk %}" class="post-action"><i class="fa fa-trash"></i>حذف</a>
                            </div>
                        {% endif %}
                        <div class="comments_box">
                        
                        </div>
                    </div>
                    <section class="comment-box">
                        <h2 class="title">{{ post.comment_set.count }} نظر</h2>
                        {% for comment in post.comment_set.all %}
                            <div class="comment">
                                <div class="meta">
                                    <span>{{ comment.author }}</span>
                                    <span><data>{{ comment.date }}</data></span>
                                </div>
                                <p>{{ comment.body }}</p>
                            </div>
                        {% endfor %}
                        {% if user.is_authenticated %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn-site">post</button>
                            </form>
                        {% endif %}
                    </section>
                </div>
                <div class="col-md-3">
                    {% block sidebar %}
                        {% include 'sidebar.html' %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}